<div class="row">
 		<div class="small-12 medium-12 large-12 columns text-center"><h1>IMDB Top 250 Movie Directory</h1></div>
 		<div class="small-12 medium-12 large-12 columns text-center"> <a href="#/list">Search</a>&nbsp;&nbsp;&nbsp;<a href="#/gallery">Gallery</a></div> 	
</div>

<div class="row">
    <div class="small-12 medium-12 large-12 columns text-center arrow">
    	<div id="leftGo"><a href="#/details/{{movie.rank-1}}">&lt;&lt;&lt;&lt;</a></div>
    	<div id="rightGo"><a href="#/details/{{movie.rank+1}}">&gt;&gt;&gt;&gt;</a></div>
    </div>
</div>

<div class="row detail">
    <div class="small-12 medium-4 large-4 columns detailImg">
    	<img class="Idontknow" ng-src="data/images/{{movie.imdbID+'.jpg'}}">
    </div>
    <div class="small-12 medium-6 large-6 columns detailInfo">
			{{movie.title}}<br>
			Rank: {{rank}}<br>
			{{movie.plot}}<br>
			Released: {{movie.released}}<br>
			Runtime: {{movie.runtime}}<br>
			Awards: {{movie.awards}}
		</div>
</div>
